# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
gurobi.log
/projects/LemonMFC/x64/Debug
/projects/LemonMFC/x64/Release/LemonMFC.tlog
/projects/LemonMFC/x64/Release
/projects/LemonMFC/.vs/LemonMFC/v14
/projects/LemonMFC/LemonMFC.VC.db
/projects/LemonMFC/LemonMFC.VC.VC.opendb
/projects/LemonMFC/.vs/LemonMFC/v15
/python/.cache/v/cache
/python/__pycache__
/msvc/DOTLib/x64/Release
/msvc/DOTLib/.vs/DOTLib/v15/ipch/AutoPCH
msvc/DOTLib/.vs/DOTLib/v15/Browse.VC.opendb
/experiments
msvc/DOTLib/.vs/DOTLib/v15/.suo
msvc/DOTLib/.vs/DOTLib/v15/Browse.VC.db
/msvc/ConvOT/.vs/ConvOT/v15
/msvc/ConvOT/ConvOT/x64/Release
/msvc/DOTLib/.vs/DOTLib/v16
/nearby/msvc/Neraby/.vs/Neraby/v16
/nearby/msvc/Neraby/Neraby/Debug
/nearby/msvc/Neraby/Neraby/x64
/nearby/msvc/Neraby/x64
/nearby/msvc/Neraby/.vs/Neraby/v15
/msvc/SiamOpt2019/.vs/SiamOpt2019/v15
/msvc/SiamOpt2019/SiamOpt2019/x64/Release
/msvc/SiamOpt2019/x64/Release
/mpc/msvc/NetCplex/.vs/NetCplex/v16
/mpc/msvc/NetCplex/NetCplex/x64
/mpc/msvc/NetCplex/x64
/mpc/msvc/NetCplex/.vs/NetCplex/v15
*.log
*.pdb
